@model FilmKveldApp.Models.Filmer
@{
    ViewBag.Title = "RegisterFilm";
}

<h2>RegisterFilm</h2>

@{
    // Kunne vært i main Layout for å få gjennom alle sidene
    String username = (String)Session["LoggetInn"];

    <p>Velkommen @username, du er logget på som administrator.</p>
}

@using (Html.BeginForm("RegistrerNyFilm", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <lablel>
        Tittel:
        @Html.TextBoxFor(filmer => filmer.Tittel)
    </lablel><br />
    <label>
        Bilde:
        <input type="file" name="file" />
    </label><br />
    <label>
        Utgivelsesaar:
        @Html.TextBoxFor(filmer => filmer.Utgivelsesaar)
    </label><br />
    <label>
        Beskrivelse:
        @Html.TextBoxFor(filmer => filmer.Beskrivelse)
    </label><br />
    <label>
        Category_ID:
        @Html.TextBoxFor(filmer => filmer.Kategori_Id)
    </label>
    <input type="submit" value="Lagre Film" />
}
