<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()

        <nav>
            <ul>
                <li>@Html.ActionLink("Vis alle filmer", "VisAlleFilmer")</li>
                <li>@Html.ActionLink("Logg inn", "LoggInnAdmin")</li>
            </ul>
        </nav>
    </div>
</body>
</html>
